In [9]:
import mysql.connector

# Creating connection object
mydb_conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Yara96210621#",
    database='library'
)

# Printing the connection object 
print(mydb_conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000187E31442F0>

In [10]:
cursor = mydb_conn.cursor()
cursor

In [11]:
cursor.execute("select count(*) from books where Title = 'Dracula';")
result = cursor.fetchall()
result

[(3,)]

In [13]:
cursor.execute("""select count(*) from books as b join loans as l on l.bookid = b.bookid
where b.Title = 'Dracula';""")
result = cursor.fetchall()
result

[(34,)]

In [14]:
cursor.execute("""select (select count(*) from books where Title = 'Dracula')-( select count(*) from books as b join loans as l on l.bookid = b.bookid
where b.Title = 'Dracula') as availbe;""")
result = cursor.fetchall()
result

[(-31,)]

In [17]:
cursor.execute("""INSERT INTO Books (BookID, Title, Author, Published, BarCode)
VALUES (12567890, 'New Book Title', 'Author Name', 2025, NULL);
""")
result = cursor.fetchall()
result

[]

In [19]:
cursor.execute("""INSERT INTO Loans (LoanID, BookID, PatronID, LoanDate, DueDate)
VALUES (123467, 10, (SELECT PatronID FROM Patrons WHERE Email = 'jvaan@wisdompets.com'), '2020-08-25', '2020-09-08'),
       (2098766, 12, (SELECT PatronID FROM Patrons WHERE Email = 'jvaan@wisdompets.com'), '2020-08-25', '2020-09-08');
""")
result = cursor.fetchall()
result

[]

In [20]:
cursor.execute("""SELECT b.Title, b.Author, l.DueDate, p.Email, p.FirstName, p.LastName
FROM Loans l
JOIN Books b ON l.BookID = b.BookID
JOIN Patrons p ON l.PatronID = p.PatronID
WHERE l.DueDate = '2020-07-13';""")
result = cursor.fetchall()
result

[('The Count of Monte Cristo',
  'Alexandre Dumas',
  '2020-07-13',
  'ksimonian2q@landonhotel.com',
  'Kala',
  'Simonian'),
 ('The Prophet',
  'Kahlil Gibran',
  '2020-07-13',
  'lawmack1a@samoca.org',
  'Lydie',
  'Awmack'),
 ('Second Treatise of Government',
  'John Locke',
  '2020-07-13',
  'adinjesh@samoca.org',
  'Anthe',
  'Dinjes'),
 ('Dracula',
  'Bram Stoker',
  '2020-07-13',
  'ckoppe1m@landonhotel.com',
  'Cornelia',
  'Koppe')]

In [21]:
cursor.execute("""DELETE FROM Loans 
WHERE LoanID IN (
    SELECT LoanID 
    FROM (
        SELECT LoanID 
        FROM Loans 
        WHERE BookID = (SELECT BookID FROM Books WHERE Barcode = 6435968624) 
        AND DueDate = '2020-07-05'
    ) AS subquery
);""")
result = cursor.fetchall()
result

[]